

.app-grid-container {
    display: grid;
    grid-template-columns: 240 auto;
    
    
}

.app-grid-container-2 {
    grid-area: 1 / 1 / 1 / 3;
}

.page-navigator-container {
    grid-area: 1 / 1 / 1 / 2;
    z-index: 1;
    border: 2px white solid;
    background-color: #0f0f0f;
}

.navigator-tag {
    color: rgb(255, 255, 255);
}
