

.visualizer {
    
    overflow: hidden;
    width: auto;
    border: 2px blue solid;
    align-self: stretch;
}

.sidebar {
    display: flex;
    flex-direction: column;
    /* overflow creates sidebar that then screws up stuff */
    overflow:hidden;
    min-width: 16rem;
    max-height: 100%;
    width: 30%;
    border: 2px blue solid;
    box-sizing: border-box;
    padding: .5em;
    gap: .5em;
    overflow-y: auto;
}
.sidebar > * {
    flex-shrink: 0;
}

.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*placeholder height value */
    height: 3em;
    border: 2px blue solid;
}

/* We are taking advantage of flex-wrap:flex of parent |don't know if this is legal