.skip-forward-button {
    display: flex;

    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    color: white;

    height: 32px;
    width: 32px;

}

.skip-back-button {
    display: flex;

    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    height: 32px;
    width: 32px;
}

.play-button {
    background-color: #a119cd;
    color:black;
    border: none;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-controls {
    display:flex;
    justify-content: center;
    width:40%;
    height:auto;
}

.player-details {
    display: flex;
    width: 30%;
    border-radius: 6px;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-top: 4px;
}



.player-placeholder {
    width: 30%
}