.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*placeholder height value */
    height: fit-content;
    max-height: var(--bottom-height);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    z-index: 100;
    background-color: var(--app-border);
    
}

.player__details {
    box-sizing: border-box;
    grid-area: 1 / 1 / -1 / 2;
    display: flex;
    padding: .75em;
    gap: .75em;

}

.player__image {
    width: 4.5rem;
    height: 4.5rem;
    border-radius:.375em;
}

.player__image img {
    width: 100%;
    max-width: 4.5rem;
    border-radius: .375em;
}

.player__controls {
    grid-area: 1/ 2/ -1 / 3;

    display: flex;
    justify-content: center;
    min-width: max-content;
    width: auto;
    gap:.5em;
    padding-top: .75em;
}

.player__controls  button {
    cursor: pointer;
}


.player__play {
    background-color: #a119cd;
    color:black;
    border: none;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__play:is(:hover, :focus-visible) {
    background-color: red;
    transition: background-color 0.1s;
}


.player__skip {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
}

.player__skip:is(:hover, :focus-visible) {
    fill: white;
    transition: fill .2s;
}

.player__info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    white-space: nowrap;
    flex-shrink: 0;
    overflow: hidden;
}
.player__info h2 {
    color: white;
}
.player__info h3 {
    color: #8f9bd7;
}