.album-list {
    display: flex;
    flex-direction: column;
}

.album-accordion-list li {
    position: relative;
}

.album-accordion-track {
    margin-top: 0.75rem;
}

.album-accordion-tracks {
    display: flex;
    flex-wrap: wrap;
    border: none;
    background: transparent;
    width: 100%;
    padding-left: 56px;
}

.album-accordion-tracks h4 {
    color: #8f9bd7;
}

.album-accordion-tracks:is(:hover, :focus-visible) h4 {
    color: #d5dafc;
    cursor: pointer;
}


.music-tile-image {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 12%;
}

.music-tile-image img {
    width: 100%;
    max-width: 48px;
    border-radius: 12%;
}

.music-tile-title {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    font-size: 16px;
}



.music-tile-author {
    text-align: left;
    color: #8f9bd7;
    font-size: 14px;
}

.tile-info {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1b2559;
    border-radius: 6px;
    width: 250px;
}

.sidebar-item-info-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;

}

.sidebar-item-button {
    display: flex;
    flex-wrap: wrap;
    border: none;
    background: transparent;
    padding: 4px;
    border-radius: 6px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    color: #8f9bd7;
    cursor: pointer;
}


/*Can't figure out why I'm unable to get this data toggle to work */
.sidebar-item-button[data-toggle='true'] {
    background-color: red;
    

}


.sidebar-item-button:is(:hover, :focus-visible) {
    background-color: rgba(143, 155, 215, 0.45);
    transition: background-color 0.1s;
}

.sidebar-item-button:not(:focus-visible) {
    outline: none;
}




.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}
