.sidebar-navigator {
    display: flex;
    gap: 4px;
}


input[type='radio'] {
    display: none;
}

label {
    position: relative;
    color: white;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 56px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

label:before {
    content: '';
    height: 9px;
    width: 9px;
    border: 2px solid;
    border-radius: 50%;
    margin: 0 2px 0 2px;
}

input[type='radio']:checked + label {
    background: white;
    color: blue;

}

input[type='radio']:checked + label:before {
    height: 3px;
    width: 3px;
    border: 2px solid blue;
    background-color: white; 

}