.album-list {
    display: flex;
    flex-direction: column;
}

.album-accordion-items {
    display:flex;
    flex-direction: column;
}

.album-accordion-items li {
    position: relative;
}

.album-track-button-grid {
    display:grid;
    background: transparent;
    width: 100%;
    grid-template-columns: 50px auto;
    gap:8px;
    border:none;
    padding: 4px;
}

.album-track-button-grid h4 {
    color: white;
}

.album-track-index {
    display: flex;
    height:100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.album-track-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.album-track-info h4{
    display: flex;
    justify-content: flex-start;

}

.album-track-info h5 {
    display: flex;
    justify-content: flex-start;
    color: rgb(255 255 255 / 54%);

}





.album-track-button-grid:is(:hover, :focus-visible) {
    background-color: rgba(143, 155, 215, 0.45);
    transition: background-color 0.1s;
    cursor: pointer;
}




.music-tile-info {
    width:auto;
}

.music-tile-image {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 12%;
}

.music-tile-image img {
    width: 100%;
    max-width: 48px;
    border-radius: 12%;
}

.music-tile-title {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    font-size: 16px;
}



.music-tile-author {
    text-align: left;
    color: #8f9bd7;
    font-size: 14px;
}

.tile-info {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1b2559;
    border-radius: 6px;
    width: 250px;
}

.album-accordion-track-button {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
}

.sidebar-item-info-container {
    display:flex;
    justify-content: space-between;
    width: auto;

}

.sidebar-item-button {
    display: flex;
    flex-wrap: wrap;
    border: none;
    background: transparent;
    padding: 4px;
    border-radius: 6px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    color: #8f9bd7;
    cursor: pointer;
}


/*Can't figure out why I'm unable to get this data toggle to work */
.sidebar-item-button[data-toggle='true'] {
    background-color: red;
    

}


.sidebar-item-button:is(:hover, :focus-visible) {
    background-color: rgba(143, 155, 215, 0.45);
    transition: background-color 0.1s;
}

.sidebar-item-button:not(:focus-visible) {
    outline: none;
}




.content {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
   
}
